.table thead th {
    font-size: 14px;
}

.table td, .table th {
    font-size: 13px;
}

.dot {
    margin-left: 13px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    float: left;
}

.active {
    background-color: green;
}
.notactive {
    background-color: red;
}

@media only screen and (max-width: 768px) {
    .table thead th {
        font-size: 13px;
    }
    
    .table td, .table th {
        font-size: 12px;
    }
 }