<nav class="navbar navbar-expand-md bg-white navbar-dark py-0">
  <!-- Brand -->
  <!-- <div class="d-flex justify-content-between"> -->
    <span class="border-r p-md-2">
      <a class="navbar-brand" href="#">Bootstrap</a>
    </span>
    <div class="search d-none d-md-block">
      <span class="fa fa-search"></span>
      <input class="mt-md-1" placeholder="Search term">
    </div>
  <!-- </div> -->
  
  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li> 
    </ul>
  </div> 
</nav>