<nav class="navbar navbar-expand-md bg-white navbar-dark py-0">
  <!-- Brand -->
  <!-- <div class="d-flex justify-content-between"> -->
    <span class="border-r p-md-2">
      <a class="navbar-brand" href="#">Bootstrap</a>
    </span>
    <div class="search d-none d-md-block">
      <span class="fa fa-search"></span>
      <input class="mt-md-1" placeholder="Search term">
    </div>
  <!-- </div> -->
  
  <!-- Toggler/collapsibe Button -->
  <div dropdown [autoClose]="false">
      <button class="navbar-toggler custom-toggler border-0"
              dropdownToggle
              type="button" 
              data-toggle="collapse"
              data-target="#collapsibleNavbar"
              aria-controls="dropdown-basic">
            <span class="navbar-toggler-icon"></span>
      </button>
      
      <ul id="dropdown-basic"
          class="dropdown-menu dropdown-menu-right"
          *dropdownMenu 
          role="menu" 
          aria-labelledby="button-basic">

          <li role="menuitem"
              *ngFor="let listMenu of list">
            <a class="dropdown-item"
               [routerLink]="listMenu.href">
                <fa [name]="listMenu.icon"></fa> 
                <span class="ml-3"
                      [textContent]="listMenu.title"></span>
            </a>
          </li>
          <!-- end of menuitem -->
          <div class="search mt-2">
              <span class="fa fa-search"></span>
              <input class="mr-2" placeholder="Search term">
          </div>
      </ul>
      <!-- End of .dropdown-basic -->
  </div>
  <!-- End of .dropdown -->

  <!-- Navbar links -->
  <div id="collapsibleNavbar" 
       class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav"
            *ngFor="let listMenu of list">
            <li class="nav-item">
              <a class="nav-link px-4" 
                 [routerLink]="listMenu.href">
                 <fa [name]="listMenu.icon"></fa>
              </a>
            </li>
        </ul>
  </div> 
  <!-- End of .collapsibleNavbar -->
</nav>
<!-- End of of .navbar -->
