<div class="row justify-content-center mt-lg-4">
  <div class="col-11" style="background-color: green">
    <div class="row p-lg-2" style="background-color: pink">

      <div class="col-md-2 col-sm-4 col-xs-6" style="background-color: yellowgreen">
        <div class="mt-3 mb-3 d-flex justify-content-center">
            <div class="ml-lg-3">
              <fa name="check-square-o" class="f-icon"></fa>
              <span class="first-header ml-1">INTERNAL</span> 
            </div>
            <div class="ml-lg-3">
              <fa name="check" class="f-icon"></fa>
              <span class="first-header ml-1">EXTERNAL</span>
            </div>
        </div>
      </div>

      <div class="col-md-2 col-sm-4 col-xs-6" style="background-color: blue">
          <div class="mt-2 mt-md-3">
              <div class="ml-lg-2">
                <fa name="check-square-o" class="second-icon"></fa>
                <span class="second-header ml-1">Total Users</span>
              </div>
              <div class="d-flex flex-md-column ml-2">
                <span class="second-data-first">2620</span>
                <span class="second-data-second">3023</span>
              </div>
          </div>
      </div>

      <div class="col-md-2 col-sm-4 col-xs-6" style="background-color: purple">
          <div class="mt-2 mb-3">
              <div class="ml-2">
                <fa name="check-square-o" class="second-icon"></fa>
                <span class="second-header ml-1">Total Users</span>
              </div>
              <div class="d-flex flex-md-column ml-2">
                <span class="second-data-first">2620</span>
                <span class="second-data-second">3023</span>
              </div>
          </div>
      </div>

      <div class="col-md-2 col-sm-4 col-xs-6" style="background-color: violet">
          <div class="mt-2 mb-3">
              <div class="ml-2">
                <fa name="check-square-o" class="second-icon"></fa>
                <span class="second-header ml-1">Total Users</span>
              </div>
              <div class="d-flex flex-md-column ml-2">
                <span class="second-data-first">2620</span>
                <span class="second-data-second">3023</span>
              </div>
          </div>   
      </div>

      <div class="col-md-2 col-sm-4 col-xs-6" style="background-color: gray">
          <div class="mt-2 mb-3">
              <div class="ml-2">
                <fa name="check-square-o" class="second-icon"></fa>
                <span class="second-header ml-1">Total Users</span>
              </div>
              <div class="d-flex flex-md-column ml-2">
                <span class="second-data-first">2620</span>
                <span class="second-data-second">3023</span>
              </div>
          </div>
      </div>

      <div class="col-md-2 col-sm-4 col-xs-6" style="background-color: green">
          <div class="mt-2 mb-3">
              <div class="ml-2">
                <fa name="check-square-o" class="second-icon"></fa>
                <span class="second-header ml-1">Total Users</span>
              </div>
              <div class="d-flex flex-md-column ml-2">
                <span class="second-data-first">2620</span>
                <span class="second-data-second">3023</span>
              </div>
          </div>
      </div>

    </div>
    <!-- End of .row -->
  </div>
  <!-- End of .col -->
</div>

