<div id="sub-header" class="row justify-content-center mt-lg-4 mt-sm-4">
  <div class="col-11 bg-white py-2">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6 col-lg-2">
        <div class="mt-3 mb-3 d-flex flex-lg-column justify-content-sm-center">
            <div class="text-md-center">           
              <span class="first-header ml-1 cursor-pointer">
                <fa name="check-square-o" class="subhead-icon"></fa>INTERNAL</span> 
            </div>
            <div class="text-md-center">
              <span class="first-header ml-1 cursor-pointer">
                <fa name="check" class="subhead-icon"></fa>EXTERNAL</span>
            </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 col-xs-6 col-lg-2 second-data">
          <div id="subhead" class="mt-2 mt-md-3 cursor-pointer">
              <div class="ml-lg-4 ml-md-5 ml-sm-4 d-flex justify-sm-content-center">
                <span class="second-header ml-1">
                  <fa name="check-square-o" class="subhead-icon"></fa>Total Users</span>
                  <span class="dot"></span>
              </div>
              <div class="ml-lg-5 ml-md-5 ml-sm-5 py-1">
                <span class="second-data-first d-block">2620</span>
                <span class="second-data-second d-block">3023</span>
              </div>
          </div>
      </div>

      <div class="col-md-6 col-sm-6 col-xs-6 col-lg-2 second-data">
          <div id="subhead" class="mt-2 mt-md-3 cursor-pointer">
              <div class="ml-lg-4 ml-md-5 ml-sm-4 d-flex justify-sm-content-center">
                <span class="second-header ml-1">
                  <fa name="check-square-o" class="subhead-icon"></fa>Total Users</span>
                  <span class="dot"></span>
              </div>
              <div class="ml-lg-5 ml-md-5 ml-sm-5 py-1">
                <span class="second-data-first d-block">2620</span>
                <span class="second-data-second d-block">3023</span>
              </div>
          </div>
      </div>

      <div class="col-md-6 col-sm-6 col-xs-6 col-lg-2 second-data">
          <div id="subhead" class="mt-2 mt-md-3 cursor-pointer">
              <div class="ml-lg-4 ml-md-5 ml-sm-4 d-flex justify-sm-content-center">
                <span class="second-header ml-1">
                  <fa name="check-square-o" class="subhead-icon"></fa>Total Users</span>
                  <span class="dot"></span>
              </div>
              <div class="ml-lg-5 ml-md-5 ml-sm-5 py-1">
                <span class="second-data-first d-block">2620</span>
                <span class="second-data-second d-block">3023</span>
              </div>
          </div>
      </div>

      <div class="col-md-6 col-sm-6 col-xs-6 col-lg-2 second-data">
          <div id="subhead" class="mt-2 mt-md-3 cursor-pointer">
              <div class="ml-lg-4 ml-md-5 ml-sm-4 d-flex justify-sm-content-center">
                <span class="second-header ml-1">
                  <fa name="check-square-o" class="subhead-icon"></fa>Total Users</span>
                  <span class="dot"></span>
              </div>
              <div class="ml-lg-5 ml-md-5 ml-sm-5 py-1">
                <span class="second-data-first d-block">2620</span>
                <span class="second-data-second d-block">3023</span>
              </div>
          </div>
      </div>

      <div class="col-md-6 col-sm-6 col-xs-6 col-lg-2 second-data">
          <div id="subhead" class="mt-2 mt-md-3 cursor-pointer">
              <div class="ml-lg-4 ml-md-5 ml-sm-4 d-flex justify-sm-content-center">
                <span class="second-header ml-1">
                  <fa name="check-square-o" class="subhead-icon"></fa>Total Users</span>
                  <span class="dot"></span>
              </div>
              <div class="ml-lg-5 ml-md-5 ml-sm-5 py-1">
                <span class="second-data-first d-block">2620</span>
                <span class="second-data-second d-block">3023</span>
              </div>
          </div>
      </div>


    </div>
    <!-- End of .row -->
  </div>
  <!-- End of .col -->
</div>

